

/* Füge hier deine individuellen Stilregeln hinzu */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Globale Stile */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin-bottom: 60px; 
}

/* Content Styling */
.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navbar-Stile */
.navbar {
    background-color: #343a40;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #17a2b8 !important;
    text-decoration: underline;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 10px;
}

.nav-item {
    margin-right: 15px;
}

/* Active Link Styling */
.nav-item.active .nav-link {
    text-decoration: underline;
}

/* Footer Styling */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Inhaltscontainer-Stile */
.content-container {
    margin-top: 20px;
}

/* Hinzufügen von Rand und Schatten zu Formularen */
form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Beispielstil für eine Karte */



