{% extends 'base_generic.html' %}

{% block content %}
<h2>{{ thread.title }}</h2>
<p>{{ thread.content }}</p>

{% if user.is_authenticated and user == thread.user %}
    <!-- Display the "Delete Thread" button for the thread owner -->
    <a href="{% url 'delete_thread' thread_id=thread.id %}">Delete Thread</a>
{% endif %}

<h3>Comments</h3>


{% for comment in comments %}
  <div>
    <p><strong>{{ comment.user }}</strong> - {{ comment.created_at }}</p>
    <p>{{ comment.content }}</p>
    
    {% if user.is_authenticated and comment.user == user %}
      <a href="{% url 'edit_comment' comment.id %}">Edit</a>
      <a href="{% url 'delete_comment' comment.id %}">Delete</a>
    {% endif %}
  </div>
{% endfor %}

<!-- Füge am Ende des Templates hinzu -->
<h3>Add Comment</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Comment</button>
</form>


{% endblock %}
